* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.nav-container {
  background: linear-gradient(90deg, #000000, #3533cd);
  position: sticky;
  z-index: 1000;
  top: 0;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
nav .list-container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  display: flex;
  align-items: center;
}
nav li {
  height: 70px;
}
nav a {
  height: 100%;
  text-decoration: none;
  padding: 0 30px;
  color: white;
}
nav li:first-child {
  margin-right: auto;
  position: relative;
}
.logo-1 {
  font-family: "Tiny5", sans-serif;
  color: white;
  padding-left: 1.5em;
  font-size: 2rem;
}
.logo-2 {
  padding-left: 0.5em;
  font-size: 2rem;
  color: white;
}
.hamburger,
.close-icon {
  width: 30px;
}
.sidebar {
  background-color: pink;
  position: fixed;
  top: 0;
  height: 100%;
  width: 40%;
  padding: 1.1em;
  background-color: #3633cdea;
}
.contact-btn {
  background-color: transparent;
  width: 100px;
  border-radius: 20px;
  border: 1px solid hsl(287, 71%, 90%);
  cursor: pointer;
  padding: 0.9em;
  font-size: 1rem;
  color: white;
}
.contact-btn:hover {
  background-color: white;
  color: #3533cd;
}
.hero-container {
  z-index: 100;
  width: 100%;
  height: 100vh;
  padding: 1.5em;
}
.hero-image {
  width: 100%;
}
.hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headline {
  font-size: 4rem;
  margin-top: 0.5em;
  text-shadow: 0 13.36px 8.896px black, 0 -2px 1px black;
}
.subheadline {
  font-size: 1.2rem;
}
.btn-container {
  margin-top: 1.5em;
}
.call-btn,
.portfolio-btn {
  padding: 1.2em;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid #3533cd;
  color: white;
}
.call-btn:hover,
.portfolio-btn:hover {
  background-color: white;
  color: #3533cd;
}
.logo-name {
  font-family: "Tiny5", sans-serif;
}
.heading {
  color: #004aad;
  font-family: "Roboto";
  padding-bottom: 0.9em;
  padding-top: 0.5em;
  text-align: center;
}
.paragraph {
  font-size: 1.1rem;
}
.big-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.about-page {
  margin-top: 2em;
}
.abt-container {
  border: 1px solid black;
  width: 450px;
  height: 350px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  cursor: pointer;
}
.abt-container:hover {
  background-color: #3533cd;
  color: white;
  .heading {
    color: white;
  }
}
.portfolio-image {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile-pic {
  width: 45%;
  height: 500px;
}
.snippet-work {
  width: 45%;
}
.impact-container {
  display: block;
  margin: 2em auto;
  width: 80%;
}
.impact {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.impact-container a {
  text-decoration: none;
}
.project-page {
  background-color: white;
  width: 100%;
  padding-top: 2em;
}
.projects-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15em;
  overflow: hidden;
}
.image-container {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tracker-wrapper {
  width: 80%;
  max-inline-size: var(--size-content-3);
  -webkit-mask: linear-gradient(
        90deg,
        transparent 0,
        black 15% 85%,
        transparent
      )
      0 50% / 100% calc(100% - (2 * var(--size-4))) no-repeat,
    linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
    linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;
}
.tracker {
  --size: clamp(200px, 40vmin, 50rem);
  width: 100%;
  display: flex;
  gap: var(--size-4);
  list-style-type: none;
  overflow: overlay;
  margin: 0;
  /*background: hsl(0 0% 100% / 0.25);*/
  padding: var(--size-4) 33%;
  scroll-snap-type: x mandatory;
  /* Circular inverted */
  /* -webkit-mask-image: radial-gradient(ellipse at 50% 66%, black 0 30%, transparent 30%);
	/* No Scrollbar */
  /* -webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% 20vmin / 240% 100%;*/
  /* Winner */
  /*-webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% calc(var(--size) * 0.5) / 250% 100%,
								linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
								linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;*/
  -webkit-mask: radial-gradient(#0000 0 30%, #000 30.5%) 50%
      calc(var(--size) * 0.5) / 300% 100%,
    linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
    linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;
}

.track__item {
  height: 100%;
  aspect-ratio: 1;
  background: transparent;
  /*background: var(--surface-2);*/
  scroll-snap-align: center;
  /*display: none;*/
}
.tracker-item {
  height: 100%;
  aspect-ratio: 1;
  background: transparent;
  /*background: var(--surface-2);*/
  scroll-snap-align: center;
  /*display: none;*/
}
#img1,
#img2,
#img3,
#img4,
#img5 {
  width: 90%;
  height: 400px;
  border-radius: 20px;
}
.hover-img {
  background-color: transparent;
  color: #fff;
  display: inline-block;
  margin: 8px;
  overflow: hidden;
  max-width: 320px;
  min-width: 240px;
  position: relative;
  text-align: center;
  width: 100%;
}
.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}
.hover-img::before,
.hover-img::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
  border-radius: 10px;
}
.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.hover-img:hover::before,
.hover-img:hover::after {
  transform: scale(1);
  opacity: 1;
}
.hover-img:hover > img {
  opacity: 0.7;
}
.hover-img:hover figcaption {
  opacity: 1;
}
.main-container {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
}
.services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.services-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 2em;
}
.service-btn {
  padding: 1.2em;
  font-size: 1.1rem;
  margin-top: 1em;
}
.services {
  width: 510px;
  background-color: #3533cd;
  color: black;
  padding: 4em;
  height: 600px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}
.serviceRequest-card {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: pink;
  margin: auto;
  padding: 1.5em;
  background-color: #3533cd;
}
.serviceRequestText {
  width: 100%;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  color: white;
}
.servicerequest {
  width: 100%;
  margin-top: 2em;
}
.servicerequest-form {
  width: 50%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  background-color: whitesmoke;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-input {
  width: 500px;
  height: 40px;
  padding-left: 1.2em;
  font-size: 1rem;
  margin-bottom: 0.9em;
}
.service-textarea {
  width: 500px;
  height: 80px;
  padding: 1.2em;
  font-size: 1rem;
}
.servicerequest-btn {
  width: 500px;
  height: 40px;
  margin-top: 2em;
  font-size: 1.1rem;
  background-color: #3533cd;
  color: white;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.servicerequest-btn:hover {
  background-color: white;
  color: #3533cd;
}
.default-option {
  color: rgb(158, 157, 157);
}
.page-title-service {
  font-size: 2rem;
  font-weight: bold;
  width: 350px;
  border: 2px solid #3533cd;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 20px;
  color: #3533cd;
}
.brand {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.s-header {
  color: white;
  padding-bottom: 1em;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
.service-list {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}
.contact-page {
  background: linear-gradient(90deg, #000000, #3533cd);
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 2em;
}
.page-title {
  font-size: 2rem;
  font-weight: bold;
  width: 150px;
  border: 2px solid #3533cd;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 20px;
  color: #3533cd;
}
label {
  color: grey;
}
.contact-input,
.button {
  width: 500px;
  height: 40px;
  padding-left: 1.2em;
  font-size: 1.2rem;
  font-family: "Roboto";
  background-color: transparent;
  color: white;
  border: 2px solid #3533cd;
  border-radius: 10px;
  margin-bottom: 1.2em;
}
.contact-textarea {
  width: 500px;
  height: 100px;
  padding: 1.2em;
  font-size: 1.2rem;
  font-family: "Roboto";
  background-color: transparent;
  color: white;
  border: 2px solid #3533cd;
  border-radius: 10px;
  margin-bottom: 2em;
}
.button {
  color: white;
  background-color: #3176dd;
  border: 2px solid #ccc;
}
.button:hover {
  background-color: transparent;
  border: 2px solid #3533cd;
  color: #3533cd;
}
.contact-header,
.contact-subheader {
  text-align: center;
}
.contact-header {
  color: white;
  font-size: 2.5rem;
}
.contact-subheader {
  color: grey;
  font-size: 1.1rem;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  gap: 10px;
}
.icon {
  width: 200px;
  border: 2px solid #3533cd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  color: white;
}
.icon:hover {
  background-color: #3533cd;
}
.icon-image {
  width: 100px;
}
.feedback-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em auto;
}
.feedback {
  width: 50%;
  background-color: whitesmoke;
  padding: 4em;
}
.rating {
  width: 500px;
  height: 40px;
  padding-left: 0.9em;
  font-size: 1rem;
}
.feedback-subheader {
  margin-bottom: 1.5em;
}
.feedback-subheader,
.feedback-header {
  text-align: center;
}
.rate-btn {
  margin-top: 2em;
  background-color: #004aad;
  color: white;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.rate:hover {
  background-color: white;
  color: #004aad;
}
.rate-textarea {
  width: 500px;
  height: 80px;
  padding: 0.9em;
  font-size: 1rem;
}
.footer {
  margin-top: 10em;
  position: relative;
  width: 100%;
  background: linear-gradient(to top, #3533cd, #3176dd);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@media (min-width: 770px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .feedback {
    width: 85%;
  }
  .icon-container {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  .abt-container {
    height: 450px;
  }
  .portfolio-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2em auto;
    width: 100%;
  }
  .profile-pic,
  .snippet-work {
    width: 100%;
  }
  .services {
    width: 95%;
    height: 650px;
  }
  .serviceRequest-card {
    width: 100%;
  }
  .feedback {
    width: 100%;
  }
  .rating,
  .rate-textarea {
    width: 98%;
  }
  .contact-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .contact-input,
  .button,
  .contact-textarea {
    width: 95%;
  }
  .icon-container {
    width: 50%;
  }
  .icon {
    width: 100px;
    height: 180px;
  }
  .icon-image {
    width: 60px;
  }
  .contact-header {
    font-size: 2rem;
  }
  .headline {
    font-size: 3.5rem;
  }
  nav li:first-child {
    margin-right: -16em;
  }
  .image-container {
    width: 90%;
    position: absolute;
    left: 2%;
  }
}
