* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 20%;
}
nav .list-container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
nav a {
  height: 100%;
  text-decoration: none;
  padding: 30px;
  color: #b81fb0;
}
.contact-btn {
  background-color: transparent;
  width: 100px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
}
.contact-btn:hover {
  background-color: white;
}
.home-container {
  position: relative;
}
.b-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.h-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5%;
  left: 27%;
  position: absolute;
}
.headline {
  color: white;
  font-size: 5rem;
}
.subheadline {
  color: white;
  padding-top: 1.5em;
  font-size: 1.2rem;
}
.btn-container {
  padding-top: 2em;
}
.call-btn,
.project-btn {
  height: 50px;
  padding: 10px;
  font-size: 0.9rem;
  background-color: transparent;
  border: 1px solid #b81fb0;
  color: white;
}
.call-btn {
  margin-left: 5em;
}
.call-btn:hover,
.project-btn:hover {
  background-color: #b81fb0;
}
.call-btn:hover:before {
}
